[Desktop Entry]
Name=Church Wars
Name[de]=Church Wars
Name[pl]=Church Wars
Comment=Church Wars strategy game
Comment[pl]=Church Wars strategy game
Comment[fr]=Church Wars strategy game
Exec=dopewars
Icon=churchwars-weed.png
Terminal=false
Type=Application
Categories=Application;Game;ArcadeGame;
Encoding=UTF-8
# vi: encoding=utf-8
